<ion-card *ngFor="let f of friends">
    <ion-card-header>
            <ion-grid>
                <ion-row  [routerLink]="'/chatlist/'+f.id" routerDirection="forward">
                    <ion-col size="3">
                            <ion-thumbnail>
                                    <ion-img [src]="'https://via.placeholder.com/150'"></ion-img>
                                </ion-thumbnail>

                    </ion-col>
                    <ion-col size="8">
                            <ion-card-title>{{f.fullname}}</ion-card-title>
                            <!-- <ion-card-subtitle></ion-card-subtitle> -->

                    </ion-col>
                    <ion-col size="1">
                            <ion-badge  color="primary">10</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-grid>
        
     
    </ion-card-header>  
  </ion-card>
