.innermsg {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.innermsg.left {
    float: left;
    background-color: #F1F0F0;
    color: black;
}
.innermsg.left.date{
    color: #000;
}
.innermsg.right {
    float: right;
    //margin-right: 10%;
    background-color: #0084FF;
    color: white;
    text-align: right;
}

.msgbubble {
    margin-bottom: 10px;
}

.date{font-size: 12px;}
.msg{padding: 0; margin: 0;}

.inputbuttom
{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}