<ion-header >
    
    <ion-toolbar color="primary">
        <ion-buttons slot="start"> <ion-back-button defaultHref="/tabs/Chats"></ion-back-button> </ion-buttons>
      <ion-title>MeChat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
<ion-list no-lines class="msgbubble">
    <div class="innermsg left">
      <p class="msg">hi</p>
      <span class="date">01-01-2019 12:05 AM</span>
    </div>
    <div class="innermsg right">
        <p class="msg">hello</p>
        <span class="date">01-01-2019 12:05 AM</span>
    </div>
</ion-list>
<ion-item class="inputbuttom">
    <ion-input></ion-input>
    <ion-buttons slot="end" style="font-size:30px"> <ion-icon name="send" ></ion-icon> </ion-buttons>
  </ion-item>
</ion-content> 