<ion-header >
    
    <ion-toolbar color="primary">
        <ion-buttons slot="start"> <ion-back-button defaultHref="/tabs/Chats"></ion-back-button> </ion-buttons>
      <ion-title>MeChat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
<ion-list no-lines class="msgbubble" id="msgContent">
    <div *ngFor="let m of message" style="width:100%;" class="innermsg {{m.s_id==s_id?'left':'right'}}">
      <p class="msg">{{m.msg}}</p>
      <span class="date">{{m.date | date: 'dd-MM-yyyy H:mm a' }} </span>
    </div>
    
</ion-list>
<ion-item class="inputbuttom">
    <ion-input [(ngModel)]="mymsg" (keyup.enter)="sendMsg()" type="text" name="mymsg"></ion-input>
    <ion-buttons slot="end" (click)="sendMsg()" style="font-size:30px"> <ion-icon name="send" ></ion-icon> </ion-buttons>
  </ion-item>
</ion-content> 